footer.footer-container
    .footer
        .left
            a(href='/')
                img.logo(src='https://coding-net-production-pp-ci.codehub.cn/e23c08e6-00b2-497d-b2cf-b074c7135fca.png')
            .tips 由 CSIG 质量部维护
        .us
            .us-row
                .us-col.item1
                    h3 联系
                    ul.list
                        li
                            .share 企业微信：&nbsp;
                                .share-item.qrcode.weixin
                                    .share-img Coding 助手  
 
        .mobile-hr.first
