.header-container.no-touch
    .header-content.clearfix
        .header-body
            .logo
                a(href='http://help.coding.pages.oa.com/')
                    span.img
                        img(src="https://coding-net-production-pp-ci.codehub.cn/f9cadf79-6b98-46a2-87fe-602f2f416fbc.png")
                    span.divider
                    span.words 帮助中心
            div#hexo-global-search(dataUrl="/search.json" placeholder="在文档中搜寻答案，如输入「持续集成」"  )
            .header-right
                .nav
                    .nav-item
                        span
                            a(href='http://tencent.coding.oa.com/user') 前往工作台
